ul.list-group li.list-group-item.active {
    background-color: black;
    color: white;
    border: none;
}

ul.list-group li.list-group-item.active i,
ul.list-group li.list-group-item.active span {
    color: white;
}

.scrollable {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-group-container {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
}

div.input-group {
    background-color: white;
    z-index: 2;
}

p.caution {
    font-size: 0.8rem;
    margin-top: 5px;
    padding: 0;
    z-index: 1;
}


.message-border {
    border: 0.5px solid black;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    max-width: 500px;
    display: block;
    word-wrap: break-word;
 }

.input-group {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
}

span.bg-grey {
    background-color: #9EA6A6;
}

div img.img-fluid {
    max-height: 16rem;
    border-radius: 20px;
    object-fit: cover;
}

div input.image {
    display: none;
}

label i {
    cursor: pointer;
}
