.grid-text{
  font-size: 12px; 
  text-align: left;
  margin-left: 5px;
  margin-top: 0.25rem;
}

.item-container {
  position: relative;
  display: inline-block;
}

.bookmark {
  text-align: right;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  position: absolute;
  top: 145px; 
  right: 10px;
}

@media screen and (min-width: 1025px) {
  .bookmark {
      font-size: 1.5em;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .bookmark {
      font-size: 1.5em;
  }
}

@media screen and (max-width: 599px) {
  .bookmark {
      font-size: 1em; /* Adjust for smaller screens */
  }
}

.title-donation{
  margin-top: 0px;
  font-size: 36px; 
  font-weight: 600 !important; 
} @media screen and (min-width: 1025px) {
  .title-donation {
      font-size: 36px;
   }
} @media screen and (min-width: 600px) {
   .title-donation {
     font-size: 25px;
   }
}

.image-md-lg {
  border: solid 1px black;
  padding: 10px;
  object-fit: cover;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover; 
}

@media screen and (min-width: 1025px) {
  .grid-item img {
      width: 140px; 
      height: 140px; 
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-item img {
      width: 135px; 
      height: 135px; 
  }
}

@media screen and (max-width: 599px) {
  .grid-item img {
      width: 100px; 
      height: 100px;
  }
}

@media screen and (min-width: 1025px) {
  .row {
      font-size: 15px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .row {
      font-size: 10px;
  }
}

.image-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border: solid 1px black;
  border-radius: 13%;
}

.image-md-ss {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13.33%;
  padding: 6%;
}

.font-big{
  font-size: 24px;
  color: #9EA6A6;
  margin-bottom: 14px;
}

.font-small{
  font-size: 18px;
  color: #9EA6A6;
}

.new-bookmark{
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 40px;
}
.fa-pen {
  font-size: 40px;
  color: #9EA6A6;
  margin-left: 35px;
}

.fa-pen:hover{
  color: black;
}

.fa-trash-can{
  font-size: 40px;
  color: #9EA6A6;
}

.fa-trash-can:hover{
  color: red;
}

.scrollable{
  overflow-y: auto;
  max-height: 350px;
}

.info-icon{
  height: 70px;
  width: 70px;
}

.pagination {
  justify-content: center;
}

.pagination a {
  color: #9EA6A6 !important;
  margin: 0px 10px;
  font-weight: 600 !important;
  font-size: 18px;
  text-decoration: none;
}

.pagination span {
  color: #9EA6A6 !important;
  margin: 0px 10px;
  font-weight: 600 !important;
  font-size: 18px;
  text-decoration: none;
}

.pagination a:hover {
  color: black !important;
}

.pagination span:hover {
  color: black !important;
}

.add {
  position: absolute;
  display: none;
  padding: 10px;
  color: red;
  border-radius: 10px;
  width: 230px;
  height: auto;
  font-size: 16px;
  left : 105%; 
  top:-50%;
  font-weight: 600 !important;
  text-align: left;
  border: 1px solid red;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;

}
.tooltip-container:hover .add {
  display: block;
}

/* comment */
.custom-hr{
  border: none;
  border-top: 3px solid black;
}

.icon-xsmall{
  width: 1.5rem;
  height: auto;
}

.comment-scrollable {
  max-height: 100px; 
  overflow-y: auto;
}

.comment-container {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.comment-username:hover {
  color: #9EA6A6 !important;
}

.fa-trash-can:hover {
  color:red;
}