/* donated-items.css */
/* .container {
    width: 120%;
    margin: 0 auto;
} */



.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 900px;
   
}
    @media screen and (min-width: 1025px) {
        .grid-item {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
         }
       } @media screen and (min-width: 600px) {
         .grid-item {
           width: 20%;
           border-radius: 10px;
    overflow: hidden;
           
         }
       }

     
.grid-item img {
    max-width: 300%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
} @media screen and (min-width: 1025px) {
    .grid-item img {
        width: 140px;
     }
   } @media screen and (min-width: 600px) {
     .grid-item img {
       width: 135px;
     }
   }

.grid-text{
    font-size: 13px; 
    text-align: left;
}
.bookmark {
    text-align: right;
    background: none;
    border: none;
 
    cursor: pointer;
    color: #000;
} @media screen and (min-width: 1025px) {
    .bookmark {
        margin-right: 10px;
        margin-top: 8px;
        font-size: 2em;
     }
   } @media screen and (min-width: 600px) {
     .bookmark {
       margin-right: 60px;
       margin-top: 8px;
       font-size: 2em;
     }
   }
.title-donation{
    font-size: 36px; 
    font-weight: bold; 
} @media screen and (min-width: 1025px) {
    .title-donation {
        font-size: 36px;
     }
   } @media screen and (min-width: 600px) {
     .title-donation {
       font-size: 25px;
       /* margin-left: 18%; */
     }
   }


   

.image-md-lg{
   height: auto;
   border: solid 1px #050606;
   border-radius: 10px;
   padding: 10px;
   object-fit: cover;
}  
   @media screen and (min-width: 1025px) {
    .row {
        font-size: 15px
     }
   } @media screen and (min-width: 600px) {
     .row {
       font-size: 10px
     }
   }