/*
    #9EA6A6
    #D9D9D9 (muted)
    #050606 (black)


    font-family: "Poppins", sans-serif;
 */
 

.container-box {
    width: calc(100% - 150px);;
    height: 600px;
    overflow: auto;
    margin-left: 6.5%;
}

.pagename {
    color: #9ea6a6;
    font-weight: 500;
    font-size: 28px !important;
}

.category-name {
    font-weight: 800 !important;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}

.icon {
    color: #9ea6a6;
    font-size: 1.5rem;
    display: inline-flex;
}

.img-item {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.no-item {
    font-weight: 600;
    color: #d9d9d9;
}

.add {
    color: #050606;
    font-size: 24px;
    font-weight: 600;
}

.category-box {
    width: 15%;
    height: 150px;
}

.no-item-box {
    border: solid 1px black;
    height: 150px;
    width: 680px;
}

.item-box {
    border: solid 1px black;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-item {
    color: #9ea6a6;
    font-size: 40px;
    font-weight: 600;
}

.see-all {
    font-weight: 600;
    color: #9ea6a6;
    font-size: 32px;
}

.category-btn {
    border: solid 1px black;
    width: 11%;
    height: 150px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 6%;
}

.item-btn {
    border: solid 1px black;
    width: 860px;
    height: 150px;
    font-size: 25px;
    font-weight: 600;
    line-height: 150px;
    text-align: center;
}

i:hover,
a:hover {
    color: black;
}

.category-btn:hover,
.item-btn:hover {
    background-color: black;
    color: white;
}

.fa-trash-can:hover {
    color: red;
}

@media screen and (max-width: 540px) {
    /* 480px以下に適用されるCSS（スマホ用） */

    .pagename {
        font-size: 18px !important;
    }

    .home {
        margin-left: 0 !important;
    }

    .container-box {
        width: 100%;
        height: 480px;
        overflow: scroll;
    }

    .container-big {
        width: 100%;
        margin-left: 10px !important;
        padding-left: 0 !important;
    }

    .category-box {
        width: 100px;
        height: 100px;
        margin-left: 10px !important;
        margin-top: 0 !important;
        margin-right: 35px !important;
    }

    .no-item-box {
        border: solid 1px black;
        height: 100px;
        width: 640px;
    }

    .item-box {
        border: solid 1px black;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px !important;
    }

    .category-name {
        font-size: 25px;
    }

    .icon-container {
        display: flex;
        justify-content: center;
    }

    .icon {
        font-size: 20px;
    }

    .img-item {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 20px;
        padding: 10px;
    }

    .number-item {
        font-size: 15px;
    }

    .add-item {
        font-size: 25px;
    }

    .see-all {
        font-size: 25px;
        margin: 0 !important;
        position: relative;
        top: -20px;
    }

    .category-btn {
        width: 100px;
        height: 100px;
        font-size: 15px;
    }

    .item-btn {
        width: 360px;
        height: 100px;
        font-size: 15px;
        line-height: 100px;
        text-align: center;
        margin-left: 30px !important;
    }

    .item-box:nth-of-type(n + 5) {
        display: none;
    }
}
