/*
    #9EA6A6
    #D9D9D9 (muted)
    #050606 (black)


    font-family: "Poppins", sans-serif;
*/

.modal{
    font-family: "Poppins", sans-serif;
    color: #050606;
}


.sbm_btn {
    width: 180px;
    font-weight: 600;
}

i {
    font-size: 1.5rem;
    color: #050606;
}

::placeholder {
    opacity: 0.7;
    font-weight: 500;
}

.form-control {
    border: 1px solid #050606;
}
