.logo{
    width: 55px !important;
    height: auto !important;
}

#app{
    flex:1;
}

*{
    font-weight: 600 !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.title{
    font-size: 40px !important;
    font-weight: bold !important;
}
nav{
    color: #9EA6A6 !important;
}

footer{
    background-color: #7A95B4;
    height: 150px;
    line-height: 130px;
    text-align: right;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff, #7A95B4);
    font-size: 30px;
}
.footer-link:hover{
    color: #050606 !important;
}
.icon-sm{
    font-size: 2rem;
}
.icon-md{
    font-size: 3.5rem;
}
.icon-lg{
    font-size: 9rem;
}
.avatar-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.avatar-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
.avatar-lg{
    width: 12rem ;
    height: 12rem ;
    object-fit: cover ;
}
.image-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.image-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
.image-lg{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}