.icon-sm{
    font-size: 2rem;
}
.icon-md{
    font-size: 3.5rem;
}
.icon-lg{
    font-size: 9rem;
}

.logo{
    width: 55px !important;
    height: auto !important;
}

#app{
    flex:1;
}

*{
    font-weight: 600 !important;
}

nav {
    font-family: 'Poppins', sans-serif !important;
    font-size: 28px;
}

.nav-link {
    color: #050606 !important;
}

.nav-link:hover {
    color: #9EA6A6 !important;
}

footer {
    font-family: 'Poppins', sans-serif !important;
    background-color: #7A95B4;
    height: 150px;
    line-height: 130px;
    text-align: right;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff, #7A95B4);
    font-size: 30px;
}

.footer-link:hover {
    color: #050606 !important;
}


body {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title{
    font-size: 40px !important;
    font-weight: bold !important;
}

/* Page for "Add item" "Edit item" */
.icon {
    font-size: 25px;
}

.icon-md {
    font-size: 4rem;
}

.select {
    color: #000000;
}

.titleIcon {
    color: #000000;
}

.add-icon {
    color: #000000;
}

.edit-icon {
    color: #000000;
}

.form-check-label {
    margin-left: 20px;
}

.form-control-file {
    margin-top: 20px;
}

.btn-primary {
    background-color: #000;
    border-color: #000;
}

.btn-secondary {
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.form-check-input:checked::before {
    color: white;
}

.img-fluid {
    border: 1px solid #000;
    padding: 10px;
}

h2.text-center {
    margin-bottom: 30px;
}

.container-fluid {
    width: 900px;
}

.icon-wrapper {
    margin-left: 6em;
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.itemImage {
    width: 100%;
    height: 100%;
    font-size: 230px;
    border-radius: 20%;
    object-fit: cover;
    color: #000000;
}

.file-size {
    width: auto;
    margin-left: 70px;
}

.btn-block {
    flex: 1;
    margin: 5px;
}

.btn-black {
    background-color: black;
    color: white;
    border-color: black;
}

.form-check-input {
    margin: 0;
}

.form-check-label {
    margin-left: 8px;
}

.checkbox-size {
    width: 25px;
    height: 25px;
}

/* modal */
.custom-modal .modal-content {
    border-radius: 30px;
    overflow: hidden;
}

.custom-modal .modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-radius: 50px;
}

.letter-size {
    font-size: 1rem;
}

/* button for modal */
.btn-rounded {
    border-radius: 50px;
    padding: 5px;
    font-weight: bold;
    font-size: 1rem;
}

.btn-danger:hover {
    font-family: 'Poppins', sans-serif !important;
    background-color: transparent;
    color: red;
    border-color: red;
    border: 2px solid red;
}

/* donation item info page */

.input-size {
    width: auto;
}

/* comment for donation item page */
.comment {
    display: flex;
    align-items: center;
}

/* button */
.btn-rounded {
    border-radius: 50px;
    padding: 5px;
    font-weight: bold;
    font-size: 1rem;
}

.btn-outline-dark {
    border: 2px solid #000;
}

.btn-outline-danger {
    border: 2px solid red;
    width: 40%;
    height: 40%;
}

.btn-danger {
    width: 40%;
    height: 40%;
}

.pen-icon {
    font-size: 25px;
}

.trash-icon {
    font-size: 25px;
}

/* Direct Message name list */

.list-group-item.active {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.badge-pill {
    border-radius: 50%;
    padding: 0.5em 0.7em;
    background-color: #fff;
    color: #ff0000;
    border: 1px solid #ff0000;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.fa-user-circle {
    margin-right: 10px;
}

/* Direct Message */
.chat-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.chat-message {
    margin-bottom: 20px;
}

.title {
    font-size: 40px !important;
}

.button{
    letter-spacing: 3px;
}

.custom-modal .modal-content {
    border-radius: 30px;
    overflow: hidden;
}

.avatar-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.avatar-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.avatar-lg{
    width: 12rem ;
    height: 12rem ;
    object-fit: cover ;
}

.image-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.image-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
.image-lg{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}
.bordered-table{
    border-collapse: separate;
    border-spacing: 0 30px;
}
.bordered-table td{
    border-bottom: 2px solid slategray !important;
    background-color: white !important;
}

.xsmall{
    font-size: 0.65rem;
}

.grid-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.fa {
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900 !important;
}

.chat-message .message {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.chat-message.me .message {
    background-color: #e1f5fe;
}

.chat-message.me .message {
    background-color: #000;
    color: #fff;
}

.chat-message .message-meta {
    font-size: 0.8rem;
    color: #999;
}

.input-group .form-control {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.input-group .btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.input-group .fa-image {
    font-size: 1.5rem;
}
