.semi-bold{
    font-weight: 600 !important;
}
.menu-item {
    margin: 10px 0;
    padding: 5px;
    color: black;
}

.menu-item.active {
    background-color: black; /* Background color for the active item */
    color: white; /* Text color for the active item */
}

.menu-item-t {
    margin: 10px 0;
    padding: 5px;
    color: black;
    border-radius: 10px 10px 0 0;
}

.menu-item-t.active {
    background-color: black; 
    color: white; 
    border-radius: 10px 10px 0 0; 
}

.menu-item-b {
    margin: 0 10px;
    padding: 5px;
    color: black;
    border-radius: 0 0 10px 10px; 
}

.menu-item-b.active {
    background-color: black;
    color: white; 
    border-radius: 0 0 10px 10px; 
}


.border-bottom {
    border-bottom: solid black !important;
}

.border-menu-table {
    width: 100%;
    border-spacing: 0;
    border-radius: 15px;
    border: solid;
    margin-bottom: 20px;
    border-collapse: separate;
}

.border-menu-table a {
    text-decoration: none;
    color: inherit; /* Inherit color from .menu-item */
}

.content-border {
    border-radius: 15px;
    border: solid 2px black !important;
    height: 530px;
    margin-left: 100px;
}

.image-border {
    border-radius: 15px;
    border: solid 1px black !important;
    width: 80%;
    height: auto;
    object-fit: cover;
}

.text-muted{
    color: #D9D9D9 !important;
}

.image-border.category{
    border-radius: 15px;
    border: solid .5px black !important;
    width: 30%;
    height: auto;
    object-fit: cover;
    margin-left: 180px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* responsive */

@media (max-width: 575.98px) {
    .container {
        padding: 0 15px;
    }

    .col {
        margin-left: 0;
        margin-right: 0;
    }

    .image-border {
        width: 100%;
    }
  

    .dropdown-menu .dropdown-item {
        background-color: #ffffff !important; 
        color:  #9EA6A6;
    }

    .dropdown-menu .dropdown-item.active{
        color:  black;
    }


}

@media (max-width: 767.98px) {
    .container {
        padding: 0 15px;
    }

    .col {
        margin-left: 0;
        margin-right: 0;
    }

    .image-border {
        width: 100%;
    }
  

    .dropdown-menu .dropdown-item {
        background-color: #ffffff !important; 
        color:  #9EA6A6;
    }

    .dropdown-menu .dropdown-item.active{
        color:  black;
    }


}